/* ========= transition =========== */

.box {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border: 2px solid orange;
  background: rgba(255, 166, 0, 0.336);
  /* transition: width 5s linear 3s, background-color 3s ease-in 3s; */
  transition: 1s;
}

.box:hover {
  /* width: 300px;
  background-color: green; */

  transform: rotate(45deg) scale(1.5) translateX(150px);
}

/* -- ========== cricket bat animations ========  */

.field img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.bat {
  transition: 0.1s ease-in;
}

.field {
  width: 100%;
  height: 500px;
  padding: 30px;
  border: 1px solid steelblue;
}

.field:hover .bat {
  transform: rotate(-60deg);
  transform-origin: top right;
}

.field:hover .ball {
  transform: translate(1000px, -500px);
}

.ball {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  left: 470px;
  top: -120px;
  transition: 0.3s ease-out 0.2s;
}

/* ========== Explore animations ======== */

.stage {
  width: 600px;
  height: 300px;
  border: 2px solid steelblue;
  background-color: aqua;
}

.ball2 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  position: relative;
  /* animation: ping-pong 2s ease-in-out 1s infinite alternate; */

  animation: bounce 3s ease-in-out 1s infinite alternate;
}

/* @keyframes ping-pong {
  from {
    left: 0;
  }
  to {
    left: 400px;
    background-color: red;
  }
} */

@keyframes bounce {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    left: 150px;
    top: 200px;
  }
  50% {
    left: 300px;
    top: 0px;
  }
  100% {
    left: 500px;
    top: 200px;
  }
}
